{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm text-center">
    <h1 class="display-5 fw-bold">Sistema de Identificação e Cadastro de Morador</h1>
    <p class="lead text-muted">Autorize visitantes de forma rápida e segura.</p>

    <!-- ÁREA DO REACT -->
    <div id="react-root"></div>
    <hr class="my-4">
    <div class="d-flex justify-content-center gap-3">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Acesso Moradores</a>
        <a href="{% url 'portaria' %}" class="btn btn-secondary btn-lg">Consulta Portaria</a>
    </div>
</div>

<!-- Script compilado pelo Vite -->
<script src="{% static 'core/js/dist/main.js' %}"></script>

{% endblock %}